<div class="container-md">
    <div class="row">
        <div class="col-sm-3">
            <img src={{image_url}} alt="beer"/>
            <h2>{{name}}</h2>
            <h3>{{tagline}}</h3>
            <p>{{description}}</p>
            <a href="/beers/beer-i3f4d34s34b">{{name}}</a>
        </div>
    </div>
</div>
